<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ruben Uijtdewilligen</title>
    <link rel="stylesheet" href="/static/css/dashboard.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <script src="/static/js/addSubject.js" defer></script>
  </head>
  <body>
    <header></header>
    <main>
      <a href="/dashboard/samenvattingen">Back</a>
      <h1>Add subject</h1>
      <br />
      <form class="subject-form">
        <label for="name">Name:&nbsp;&nbsp;</label>
        <input type="text" name="name" id="name" /> <br />
        <button type="submit">Add subject <i class="fa-solid fa-arrow-right"></i></button>
      </form>
    </main>
  </body>
</html>
