<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ruben Uijtdewilligen</title>
    <link rel="stylesheet" href="/static/css/dashboard.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  </head>
  <body>
    <header></header>
    <main>
      <h1>Samenvattingen</h1>
      <br />
      <a href="/dashboard/samenvattingen/add">Add summary</a>
      <a href="/dashboard/samenvattingen/add_subject">Add subject</a>
      <a href="/dashboard/samenvattingen/add_chapter">Add chapter</a>
    </main>
  </body>
</html>
