<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="theme-color" content="#263238" />
    <title>Ruben Uijtdewilligen</title>
    <link rel="stylesheet" href="/static/css/home.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="element element-1" aria-hidden="true">
          <div class="element-symbol">Ru</div>
          <div class="element-name additional">Ruthenium</div>
          <div class="atomic-number">44</div>
          <div class="atomic-weight additional">101.1</div>
          <div class="oxidation additional">+3</div>
        </div>
        <div class="element element-2" aria-hidden="true">
          <div class="element-symbol">Be</div>
          <div class="element-name additional">Beryllium</div>
          <div class="atomic-number">4</div>
          <div class="atomic-weight additional">9.012</div>
          <div class="oxidation additional">+2</div>
        </div>
        <div class="element element-3" aria-hidden="true">
          <div class="element-symbol">N</div>
          <div class="element-name additional">Nitrogen</div>
          <div class="atomic-number">19</div>
          <div class="atomic-weight additional">14.01</div>
          <div class="oxidation additional">+1<br />+2<br />+3<br />+4<br />+5<br />-1<br />-2<br />-3</div>
        </div>
        <div></div>
        <a href="#about" class="more-arrow"><i class="fa-solid fa-arrow-down"></i></a>
      </header>
      <section class="about" id="about">
        <h1>Hi, I'm Ruben.</h1>
        <p>
          I am a young developer from the Netherlands. My online nickname is RenderMelon. I got into programming by creating mods for my
          favourite video game, Minecraft. I am obsessed with my Nintendo Wii, eating watermelon is my thing and I love listening to Britney
          Spears. Also, TI graphing calculators are pretty cool.
          <br />
          <br />
          Our family got their first iPad when I was 6 years old and while no one of us really knew how to use the thing, young me was
          already tinkering with lots of different settings. Around age 8 I became great friends with a classmate who had more experience
          with computers and tablets. He introduced me to the world of Minecraft: Pocket Edition.
          <br />
          <br />
          I soon became even more interested in these weird machines that could take a keyboard or even a tap of a finger as input and
          produce output in no time. On YouTube I found
          <a href="https://www.youtube.com/watch?v=XaZOO-7KjDM">a tutorial on how to code a website in 45 minutes</a>. I liked the idea and
          tried some things but gave up in less than a day. <br /><br />
          When I later discovered that I could combine this interest in programming with Minecraft: Java Edition by creating mods I fell in
          love with code and never ever stopped trying new things. When I stumbled upon a tutorial on how to create Discord chat bots using
          Node.js I started coding websites using Node.js. Combined with my passion for modding Minecraft using Java, I now like to call
          myself a programmer.
        </p>
      </section>
    </div>
  </body>
</html>
