<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="theme-color" content="#263238" />
    <title>Ruben Uijtdewilligen</title>
    <link rel="stylesheet" href="/static/css/home.css" />
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono" /></noscript>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700%7CSpace+Mono" media="all" />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="element element-1" aria-hidden="true">
          <div class="element-symbol">Ru</div>
          <div class="element-name additional">Ruthenium</div>
          <div class="atomic-number">44</div>
          <div class="atomic-weight additional">101.1</div>
          <div class="oxidation additional">+3</div>
        </div>
        <div class="element element-2" aria-hidden="true">
          <div class="element-symbol">Be</div>
          <div class="element-name additional">Beryllium</div>
          <div class="atomic-number">4</div>
          <div class="atomic-weight additional">9.012</div>
          <div class="oxidation additional">+2</div>
        </div>
        <div class="element element-3" aria-hidden="true">
          <div class="element-symbol">N</div>
          <div class="element-name additional">Nitrogen</div>
          <div class="atomic-number">19</div>
          <div class="atomic-weight additional">14.01</div>
          <div class="oxidation additional">+1<br />+2<br />+3<br />+4<br />+5<br />-1<br />-2<br />-3</div>
        </div>
      </header>
    </div>
  </body>
</html>
