<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ruben Uijtdewilligen</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono" />
    <link rel="stylesheet" href="/static/css/home.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="elements-container">
        <div class="element-1 element">
          <p class="element-symbol">Ru</p>
          <p class="atomic-number">44</p>
          <p class="atomic-weight">101,07</p>
        </div>
        <div class="element-2 element">
          <div class="element-symbol">Be</div>
          <div class="atomic-number">4</div>
          <div class="atomic-weight">9,012</div>
        </div>
        <div class="element-3 element">
          <div class="element-symbol">N</div>
          <div class="atomic-number">7</div>
          <div class="atomic-weight">14,01</div>
        </div>
      </div>
    </div>
  </body>
</html>
